{% extends 'base_generic.html' %}

{% block content %}
    <h2>Inscrivez-vous</h2>

    {% if not user.is_authenticated %}
        <a href="{% url 'register' %}">S'inscrire</a>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Vous êtes connecté, {{ user.username }}</p>
    <a href="{% url 'logout' %}">Se déconnecter</a>
    {% endif %}

    {% if form.errors %}
        <p>Votre identifiant ou mot de passe sont incorrects.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Votre compte n'a pas accès à cette page.</p>
        {% else %}
            <p>Veuillez vous connecter pour accéder à cette page.</p>
        {% endif %}
    {% endif %}

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Identifiant: </td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Mot de passe: </td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type="submit" value="Se connecter">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}