{% extends 'header_generic.html' %}
{% load static %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="row justify-content-center alert alert-warning">
            <p>Veuillez <a href="../">vous connecter</a> pour accéder à ce contenu.</p>
        </div>
    {% else %}
        <div class="container border border-secondary rounded w-75 mb-2">
            <h1>Créez une critique</h1>

            {% for message in messages %}
                <p class="alert alert-warning text-center">{{ message }}</p>
            {% endfor %}

            <form method="post" action="{% url 'review' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="border border-secondary rounded container mb-2">
                    <h3>Ticket</h3>
                    {% for field in ticket_form %}
                        <div class="mb-2">
                            <label>{{ field.label }}</label>
                            <div>
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="border border-secondary rounded container mb-2 justify-content-start">
                    <h3>Critique</h3>
                    {% for field in review_form %}
                        {% if field.label == 'Note' %}
                            <div class="mb-2">
                                <label>{{ field.label }}</label>
                                <div>
                                    {% for rate in field %}
                                        {{rate}}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="mb-2">
                                <label>{{ field.label }}</label>
                                <div>
                                    {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="text-right mb-2">
                    <a href="/flux" class="btn btn-outline-primary">Annuler</a>
                    <input type="submit" name="critique" value="Publier une critique" class="btn btn-primary">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}