{% extends 'header_generic.html' %}
{% load static %}

{% block content %}
    <div class="container border border-secondary rounded w-75 mb-2">
        <h1 class="text-center">Créez un ticket</h1>

        {% for message in messages %}
            <p class="alert alert-warning text-center">{{ message }}</p>
        {% endfor %}
        <form method="post" action="{% url 'ticket' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container justify-content-start">
                {% for field in ticket_form %}
                    <label class="mt-2" for="{{ field.label.id_for_label }}">{{ field.label }}</label>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="container text-right mt-2 mb-2">
                <a href="/flux" class="btn btn-outline-primary">Annuler</a>
                <input type="submit" value="Demander une critique" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}