{% extends 'header_generic.html' %}
{% load static %}

{% block content %}
    {% if not user.is_authenticated %}
        <p>Veuillez <a href="../">vous connecter</a> pour accéder à ce contenu.</p>
    {% endif %}

    <h1>Créez une demande de critique</h1>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post" action="{% url 'ticket' %}">
        {% csrf_token %}
        <table>
             <tr>
                <td>Titre: </td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>
                    <textarea rows="5" cols="70" name="description"></textarea>
                </td>
            </tr>
            <tr>
                <td>Image: </td>
                <td><input type="file" accept=".jpg, .png" name="image"></td>
            </tr>
        </table>
        <a href="/flux"><input type="button" value="Annuler"></a>
        <input type="submit" value="Demander une critique">
    </form>
{% endblock %}