{% extends 'header_generic.html' %}

{% block content %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="post" action="{% url 'follows' %}">
        {% csrf_token %}
        <table>
             <tr>
                <td>Suivre: </td>
                <td><input type="text" name="username"></td>
            </tr>
        </table>
        <input type="submit" name="follow" value="Suivre">
    </form>

    <div>
        <table>
            {% if follows %}
                <form method="post" action="{% url 'unfollows' %}">
                    {% csrf_token %}
                    <tr>
                        <td> Vous suivez: </td>
                    </tr>
                    {% for f in follows %}
                        <tr>
                            <td>
                                <label>{{ f.followed_user.username }}</label>
                                <button type="submit" name="unfollow_button" value="{{ f.followed_user.username }}" href="">Unfollow</button>
                            </td>
                        </tr>
                    {% endfor %}
                </form>
            {% else %}
                <tr>
                    <td>Vous ne suivez personne.</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}