{% extends 'header_generic.html' %}

{% block content %}
    <div class="container border border-secondary rounded w-75 mb-2">
        {% for message in messages %}
            <p class="alert alert-warning text-center">{{ message }}</p>
        {% endfor %}

        <div class="mb-5">
            <h3 class="text-center">Suivre d'autres utilisateurs</h3>

            <form method="post" action="{% url 'follows' %}">
                {% csrf_token %}
                <div class="container text-center">
                    <input class="mr-2" type="text" name="username" placeholder="Nom d'utilisateur">
                    <input class="btn btn-primary btn-sm" type="submit" name="follow" value="Suivre">
                </div>
            </form>
        </div>

        <div class="mb-5">
            <h3 class="text-center">Abonnements</h3>
            {% if follows %}
                <form method="post" action="{% url 'unfollows' %}" class="container text-center">
                    {% csrf_token %}
                    {% for f in follows %}
                        <div class="border rounded row justify-content-between mb-1">
                            <div class="pl-2">
                                <label>{{ f.followed_user.username }}</label>
                            </div>
                            
                            <div>
                                <button type="submit" name="unfollow_button" value="{{ f.followed_user.username }}" href="" class="btn btn-outline-danger btn-sm">Unfollow</button>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            {% else %}
                Vous ne suivez personne.
            {% endif %}
        </div>

        <div class="container mb-5">
            <h3 class="text-center">Abonnés</h3>
            {% if followed_by %}
                {% for f in followed_by %}
                    <div class="border rounded row justify-content-between mb-1">
                        <label>{{ f }}</label>
                    </div>
                {% endfor %}
            {% else %}
                <p>Personne ne vous suit actuellement</p>
            {% endif %}
        </div>
    </div>
{% endblock %}